In [1]:
import pandas as pd
from pony.orm import *
from models import db

In [2]:
df_train = pd.read_csv("df_train.csv")
df_train.head()

,Источник,Адрес_y,Год постройки,Серия проекта,Количество этажей,Количество подъездов,Общая площадь,Общая площадь жилых помещений,Общая площадь нежилых помещений,Материал стен,Количество пассажирских лифтов,Количество грузопассажирских лифтов,Статус МКД,Количество грузовых лифтов,target
0,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0,1
1,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0,1
2,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0,1
3,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0,1
4,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0,1

In [3]:
df = df_train.iloc[:,:-1]

In [4]:
df.columns = ["Источник", "Адрес", "Год постройки", "Серия проекта",
    "Количество этажей", "Количество подъездов",
    "Общая площадь", "Общая площадь жилых помещений",
    "Общая площадь нежилых помещений", "Материал стен",
    "Количество пассажирских лифтов",
    "Количество грузопассажирских лифтов", "Статус МКД",
    "Количество грузовых лифтов"]

In [5]:
df.head()

,Источник,Адрес,Год постройки,Серия проекта,Количество этажей,Количество подъездов,Общая площадь,Общая площадь жилых помещений,Общая площадь нежилых помещений,Материал стен,Количество пассажирских лифтов,Количество грузопассажирских лифтов,Статус МКД,Количество грузовых лифтов
0,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0
1,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0
2,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0
3,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0
4,ASUPR,"Дом по адресу Сиреневый бульв., д.73, к.1",1969,П-29,9,4,6718,5639,1079,кирпичные,4,0,в эксплуатации,0

In [6]:
df.to_csv("df_web.csv", index=False)

In [8]:
df.dtypes

Источник                               object
Адрес                                  object
Год постройки                           int64
Серия проекта                          object
Количество этажей                       int64
Количество подъездов                    int64
Общая площадь                           int64
Общая площадь жилых помещений           int64
Общая площадь нежилых помещений         int64
Материал стен                          object
Количество пассажирских лифтов          int64
Количество грузопассажирских лифтов     int64
Статус МКД                             object
Количество грузовых лифтов              int64
dtype: object

In [9]:
df.isna().sum()

Источник                               0
Адрес                                  0
Год постройки                          0
Серия проекта                          0
Количество этажей                      0
Количество подъездов                   0
Общая площадь                          0
Общая площадь жилых помещений          0
Общая площадь нежилых помещений        0
Материал стен                          0
Количество пассажирских лифтов         0
Количество грузопассажирских лифтов    0
Статус МКД                             0
Количество грузовых лифтов             0
dtype: int64

In [10]:
# вывод таблицы 'systems'
db.Train.select().show()

id|s...|a...|year|p...|f...|e...|area|a...|a...|m...|e...|c...|s...|f...
--+----+----+----+----+----+----+----+----+----+----+----+----+----+----

In [15]:
@db_session
def add_train(source, address, year, project_series, floors,
            entrance, area, area_residential, area_non_residential,
            material, elevator, cargo, status, freight):

    """ функуия записи адресов в таблицу - 'trais' """
    
    db.Train(source=source, address=address, year=year,
            project_series=project_series, floors=floors,
            entrance=entrance, area=area, area_residential=area_residential,
            area_non_residential=area_non_residential,
            material=material, elevator=elevator, cargo=cargo,
            status=status, freight=freight)
    # commit() will be done automatically
    # database session cache will be cleared automatically
    # database connection will be returned to the pool

In [12]:
data_train = df.values
data_train[:2]

array([['ASUPR', 'Дом по адресу Сиреневый бульв., д.73, к.1', 1969,
        'П-29', 9, 4, 6718, 5639, 1079, 'кирпичные', 4, 0,
        'в эксплуатации', 0],
       ['ASUPR', 'Дом по адресу Сиреневый бульв., д.73, к.1', 1969,
        'П-29', 9, 4, 6718, 5639, 1079, 'кирпичные', 4, 0,
        'в эксплуатации', 0]], dtype=object)

In [16]:
# запись данных в базу данных
for source, address, year, project_series, floors, \
    entrance, area, area_residential, area_non_residential, \
    material, elevator, cargo, status, freight in data_train:
    add_train(source=source, address=address, year=year,
            project_series=project_series, floors=floors,
            entrance=entrance, area=area, area_residential=area_residential,
            area_non_residential=area_non_residential,
            material=material, elevator=elevator, cargo=cargo,
            status=status, freight=freight)

In [17]:
# проверка записи данных
db.Train.select()[:10].show()

id|s...|a...|year|p...|f...|e...|area|a...|a...|m...|e...|c...|s...|f...
--+----+----+----+----+----+----+----+----+----+----+----+----+----+----
1 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
2 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
3 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
4 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
5 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
6 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
7 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
8 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
9 |A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0
10|A...|Д...|1969|П-29|9   |4   |6718|5639|1079|к...|4   |0   |в...|0

In [18]:
# проверка записи данных
db.select("select count(*) from train")[0], len(data_train)

(39942, 39942)

In [ ]:
d = pd.DataFrame(db.Train.select()[:10].show())

In [ ]:
d.columns

In [ ]:
import psycopg2

In [ ]:
import os
from dotenv import load_dotenv
load_dotenv()


DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

In [ ]:
# создание подключения к базе данны
connect = psycopg2.connect(database=DB_NAME,
                           user=DB_USER,
                           password=DB_PASSWORD,
                           host=DB_HOST,
                           port=DB_PORT)

In [ ]:
# создание объекта курсора подключения к базе данных
cursor = connect.cursor()

In [ ]:
cursor.execute("SELECT * \
                FROM train;")
train_data = cursor.fetchall()

In [ ]:
dict(train_data = train_data)

In [ ]:
# преобразование в DataFrame
df = pd.DataFrame(train_data, columns=[_.name for _ in cursor.description])
df.head()