In [1]:
# импорт необходимых библиотек
import pandas as pd

In [2]:
# загрузка данных виды работ по капитальному ремонту многоквартирных домов (справочник видов капитальных работ)
type_work_laste_df = pd.read_csv("../data/type_work_laste_df.csv")
type_work_laste_df.head()

,Код,Наименование,Наименование объекта общего имущества,Тип работ,Группа работ,Сокращенное наименование работы,Виды работ в 2022 году
0,105,строительный контроль,Строительный контроль,Услуга,Стройконтроль,СК,работы не проводились
1,26,"ремонт подъездов, направленный на восстановлен...",Подъезд,Работа,СМР,Подъезд,"ремонт подъездов, направленный на восстановлен..."
2,9,"ремонт фасада (замена оконных блоков, располож...",Фасад(оконные блоки),Работа,СМР,Окна,"замена оконных блоков, расположенных в помещен..."
3,104,проведение экспертизы проектной документации п...,проведение экспертизы,Услуга,СМР,проведение экспертизы,работы не проводились
4,20,разработка проектной документации,разработка проектной документации,Услуга,СМР,ПСД,работы не проводились

In [4]:
# размерность данных
type_work_laste_df.shape

(29, 7)

In [5]:
# загрузка данных работы по капитальному ремонту, проведенные в многоквартирных домах
overhaul_df = pd.read_csv("../data/overhaul_df.csv")
overhaul_df.head()

,global_id,PERIOD,WORK_NAME,NUM_ENTRANCE,ElevatorNumber,PLAN_DATE_START,PLAN_DATE_END,FACT_DATE_START,FACT_DATE_END,AdmArea,District,Address,UNOM
0,351060,2022,замена лифтового оборудования,1,1,15.07.2022,28.08.2022,27.06.2022,14.10.2022,Восточный административный округ,район Богородское,"Российская Федерация, город Москва, внутригоро...",20151
1,430496,2022,замена лифтового оборудования,1,1,30.09.2022,14.10.2022,30.09.2022,21.10.2022,Восточный административный округ,район Богородское,"Российская Федерация, город Москва, внутригоро...",20151
2,348580,2022,ремонт внутридомовых инженерных систем водоотв...,1,нет лифта,21.02.2022,20.06.2022,01.02.2022,25.05.2022,Восточный административный округ,район Богородское,"Российская Федерация, город Москва, внутригоро...",11466
3,348581,2022,ремонт внутридомовых инженерных систем теплосн...,1,нет лифта,21.04.2022,10.07.2022,07.05.2022,03.08.2022,Восточный административный округ,район Богородское,"Российская Федерация, город Москва, внутригоро...",11466
4,348578,2022,ремонт внутридомовых инженерных систем холодно...,1,нет лифта,21.02.2022,20.06.2022,01.02.2022,27.06.2022,Восточный административный округ,район Богородское,"Российская Федерация, город Москва, внутригоро...",11466

In [6]:
# проверка соответствия количества наименований
overhaul_df["WORK_NAME"].nunique(), type_work_laste_df["Наименование"].nunique()

(19, 29)

In [7]:
# уникальные наименования видов работ по капитальному ремонту многоквартирных домов
type_work_laste = type_work_laste_df["Наименование"].unique()
type_work_laste[:6]

array(['строительный контроль',
       'ремонт подъездов, направленный на восстановление их надлежащего состояния и проводимый при выполнении иных работ',
       'ремонт фасада (замена оконных блоков, расположенных в помещениях общего пользования в многоквартирном доме)',
       'проведение экспертизы проектной документации по объектам культурного наследия федерального значения',
       'разработка проектной документации',
       'ремонт внутридомовых инженерных систем теплоснабжения (разводящие магистрали)'],
      dtype=object)

In [8]:
# проверка соответствия видам работ по капитальному ремонту
overhaul_df[~overhaul_df["WORK_NAME"].isin(type_work_laste)]["WORK_NAME"].unique()

array(['ремонт подвальных помещений, относящихся к общему имуществу в многоквартирном доме',
       'ремонт подъездов, направленный на восстановление их надлежащего состояния и проводимый при выполнении иных работ по капитальному ремонту общего имущества в многоквартирном доме',
       'ремонт фасадов',
       'ремонт внутридомовых инженерных систем электроснабжения',
       'ремонт мусоропровода',
       'замена оконных блоков, расположенных в помещениях общего пользования',
       'ремонт внутреннего водостока'], dtype=object)

In [17]:
# приведение в соответствие наименований
'ремонт подвальных помещений, относящихся к общему имуществу в многоквартирном доме' == 'ремонт подвальных помещений, относящихся к общему имуществу собственников помещений'
'ремонт подъездов, направленный на восстановление их надлежащего состояния и проводимый при выполнении иных работ по капитальному ремонту общего имущества в многоквартирном доме' ==
'ремонт подъездов, направленный на восстановление их надлежащего состояния и проводимый при выполнении иных работ'
'ремонт внутридомовых инженерных систем электроснабжения' == 'ремонт внутридомовых инженерных сетей электроснабжения'
'ремонт мусоропровода' == 'ремонт или замена мусоропровода'
'замена оконных блоков, расположенных в помещениях общего пользования' == 'ремонт фасада (замена оконных блоков, расположенных в помещениях общего пользования в многоквартирном доме)'
'ремонт внутреннего водостока' == 'ремонт или замена внутреннего водостока'

False

In [11]:
def get_name(name):
    if name == 'ремонт подвальных помещений, относящихся к общему имуществу в многоквартирном доме':
        return 'ремонт подвальных помещений, относящихся к общему имуществу собственников помещений'
    elif name == 'ремонт подъездов, направленный на восстановление их надлежащего состояния и проводимый при выполнении иных работ по капитальному ремонту общего имущества в многоквартирном доме':
        return 'ремонт подъездов, направленный на восстановление их надлежащего состояния и проводимый при выполнении иных работ'
    elif name ==  'ремонт внутридомовых инженерных систем электроснабжения':
        return 'ремонт внутридомовых инженерных сетей электроснабжения'
    elif name == 'ремонт мусоропровода':
        return 'ремонт или замена мусоропровода'
    elif name == 'замена оконных блоков, расположенных в помещениях общего пользования':
        return 'ремонт фасада (замена оконных блоков, расположенных в помещениях общего пользования в многоквартирном доме)'
    elif name == 'ремонт внутреннего водостока':
        return 'ремонт или замена внутреннего водостока'

In [13]:
overhaul_df.shape

(1747, 13)

In [21]:
overhaul_df.iloc[:,:3].merge(type_work_laste_df.iloc[:,-3:], left_on="WORK_NAME", right_on="Виды работ в 2022 году").isna().sum()

global_id                          0
PERIOD                             0
WORK_NAME                          0
Группа работ                       0
Сокращенное наименование работы    0
Виды работ в 2022 году             0
dtype: int64

In [19]:
type_work_laste_df.iloc[:,-3:]

,Группа работ,Сокращенное наименование работы,Виды работ в 2022 году
0,Стройконтроль,СК,работы не проводились
1,СМР,Подъезд,"ремонт подъездов, направленный на восстановлен..."
2,СМР,Окна,"замена оконных блоков, расположенных в помещен..."
3,СМР,проведение экспертизы,работы не проводились
4,СМР,ПСД,работы не проводились
5,СМР,ЦО-М,ремонт внутридомовых инженерных систем теплосн...
6,СМР,КАН-М,ремонт внутридомовых инженерных систем водоотв...
7,СМР,ГВС-М,ремонт внутридомовых инженерных систем горячег...
8,СМР,ХВС-М,ремонт внутридомовых инженерных систем холодно...
9,СМР,Мусоропровод,ремонт мусоропровода
10,СМР,ПВ,ремонт пожарного водопровода
11,СМР,ППАиДУ,работы не проводились
12,СМР,ЭС,ремонт внутридомовых инженерных систем электро...
13,СМР,ГАЗ,ремонт внутридомовых инженерных систем газосна...
14,СМР,Подвал,"ремонт подвальных помещений, относящихся к общ..."
15,СМР,ЦО,ремонт внутридомовых инженерных систем теплосн...
16,СМР,КАН,ремонт внутридомовых инженерных систем водоотв...
17,СМР,ГВС,ремонт внутридомовых инженерных систем горячег...
18,СМР,Фундамент,работы не проводились
19,СМР,ХВС,ремонт внутридомовых инженерных систем холодно...
20,СМР,Крыша,ремонт крыши
21,СМР,ВДСК,ремонт внутреннего водостока
22,СМР,Балкон,работы не проводились
23,СМР,Фасад,ремонт фасадов
24,Оценка соответствия лифтов,Оценка,работы не проводились
25,Не задано,"Разработка и проведение экспертизы ПД, в том ч...",работы не проводились
26,Не задано,Авторский надзор,работы не проводились
27,Лифты,ПСД лифты,работы не проводились
28,Лифты,Лифт,замена лифтового оборудования

In [8]:
# загрузка данных виды работ по содержанию и ремонту общего имущества многоквартирных домов
type_work_now_df = pd.read_csv("../data/type_work_now_df.csv")
type_work_now_df.head()

,NAME,COL_1044
0,Ремонт общедомовых приборов учета горячего и х...,В ходе подготовки к эксплуатации дома в осенне...
1,Обслуживание ламп-сигналов,Круглосуточно
2,Замена и восстановление отдельных элементов си...,В ходе подготовки к эксплуатации дома в осенне...
3,Замена и восстановление отдельных элементов си...,В ходе подготовки к эксплуатации дома в осенне...
4,Замена и восстановление отдельных элементов си...,В ходе подготовки к эксплуатации дома в осенне...

In [14]:
# проверка на соответствие
type_work_now_df[type_work_now_df["NAME"].apply(lambda x: x.lower()).isin(type_work_laste)]

Empty DataFrame
Columns: [NAME, COL_1044]
Index: []

In [15]:
# загрузка данных инциденты, зарегистрированные на объектах городского хозяйства
incidents_group_df = pd.read_csv("../data/incidents_group_df.csv")
incidents_group_df.head()

,unom,Дата создания во внешней системе,Дата закрытия,Наименование,Округ,Время ликвидации
0,308,2022-02-01 11:00:00,2022-02-01 14:00:00,Протечка с кровли,1,0 days 03:00:00
1,308,2022-03-16 14:00:00,2022-03-16 16:00:00,Засор канализации,1,0 days 02:00:00
2,308,2022-04-28 12:00:00,2022-04-28 12:00:00,Запах газа в кухне,1,0 days 00:00:00
3,308,2022-04-28 13:00:00,2022-04-28 21:00:00,Запах газа в кухне,1,0 days 08:00:00
4,308,2022-05-06 17:00:00,2022-06-11 01:00:00,Повреждение отделочных покрытий пола/стены/сту...,1,35 days 08:00:00

In [20]:
# количество уникальных видов работ
overhaul_df["WORK_NAME"].nunique()

19

In [38]:
# наименование работ
work_names = overhaul_df[["WORK_NAME"]].drop_duplicates().reset_index(drop=True).reset_index()
work_names

    index                                          WORK_NAME
0       0                      замена лифтового оборудования
1       1  ремонт внутридомовых инженерных систем водоотв...
2       2  ремонт внутридомовых инженерных систем теплосн...
3       3  ремонт внутридомовых инженерных систем холодно...
4       4  ремонт внутридомовых инженерных систем горячег...
5       5  ремонт подвальных помещений, относящихся к общ...
6       6  ремонт внутридомовых инженерных систем газосна...
7       7  ремонт подъездов, направленный на восстановлен...
8       8                                     ремонт фасадов
9       9                                       ремонт крыши
10     10  ремонт внутридомовых инженерных систем электро...
11     11                               ремонт мусоропровода
12     12  замена оконных блоков, расположенных в помещен...
13     13  ремонт внутридомовых инженерных систем горячег...
14     14                       ремонт пожарного водопровода
15     15  ремонт внутридомовых инженерных систем теплосн...
16     16  ремонт внутридомовых инженерных систем холодно...
17     17                       ремонт внутреннего водостока
18     18  ремонт внутридомовых инженерных систем водоотв...

In [39]:
# наименование видов обращений
incident_names = incidents_group_df[["Наименование"]].drop_duplicates().reset_index(drop=True)
incident_names

                                          Наименование
0                                    Протечка с кровли
1                                    Засор канализации
2                                   Запах газа в кухне
3    Повреждение отделочных покрытий пола/стены/сту...
4                                   Повреждение кровли
..                                                 ...
298  Хлопок газа; Нарушение в работе газового обору...
299               Восстановление трубопровода, санация
300                 Разрушение асвальта вокруг колодца
301                                    Занижен колодец
302                        Просадка асфальта( колодец)

[303 rows x 1 columns]

In [40]:
# подготовка данных для merge
data = []
for i in range(len(incident_names)):
    for j in range(len(work_names)):
        data.append([j, incident_names.iloc[i].values[0]])

In [41]:
# преобразование в DataFrame
incident_names = pd.DataFrame(data, columns=["index_work_names", "incident_names"])
incident_names.head()

   index_work_names     incident_names
0                 0  Протечка с кровли
1                 1  Протечка с кровли
2                 2  Протечка с кровли
3                 3  Протечка с кровли
4                 4  Протечка с кровли

In [43]:
# размерность данных
incident_names.shape

(5757, 2)

In [44]:
# объединение данных
incident_work_names = incident_names.merge(work_names, left_on="index_work_names", right_on="index").drop(columns=["index_work_names", "index"]).rename(columns={"WORK_NAME" : "work_names"})
incident_work_names.head()

,incident_names,work_names
0,Протечка с кровли,замена лифтового оборудования
1,Засор канализации,замена лифтового оборудования
2,Запах газа в кухне,замена лифтового оборудования
3,Повреждение отделочных покрытий пола/стены/сту...,замена лифтового оборудования
4,Повреждение кровли,замена лифтового оборудования

In [45]:
# размерность данных
incident_work_names.shape

(5757, 2)

In [46]:
# сохранение данных в файл
incident_work_names.to_csv("../data/incident_work_names.csv", index=False)

In [51]:
# количество уникальных значения
incident_work_names.nunique()

incident_names    303
work_names         19
dtype: int64

In [53]:
# проверка соответствия
incident_work_names.query("incident_names == 'Протечка с кровли'")

         incident_names                                         work_names
0     Протечка с кровли                      замена лифтового оборудования
303   Протечка с кровли  ремонт внутридомовых инженерных систем водоотв...
606   Протечка с кровли  ремонт внутридомовых инженерных систем теплосн...
909   Протечка с кровли  ремонт внутридомовых инженерных систем холодно...
1212  Протечка с кровли  ремонт внутридомовых инженерных систем горячег...
1515  Протечка с кровли  ремонт подвальных помещений, относящихся к общ...
1818  Протечка с кровли  ремонт внутридомовых инженерных систем газосна...
2121  Протечка с кровли  ремонт подъездов, направленный на восстановлен...
2424  Протечка с кровли                                     ремонт фасадов
2727  Протечка с кровли                                       ремонт крыши
3030  Протечка с кровли  ремонт внутридомовых инженерных систем электро...
3333  Протечка с кровли                               ремонт мусоропровода
3636  Протечка с кровли  замена оконных блоков, расположенных в помещен...
3939  Протечка с кровли  ремонт внутридомовых инженерных систем горячег...
4242  Протечка с кровли                       ремонт пожарного водопровода
4545  Протечка с кровли  ремонт внутридомовых инженерных систем теплосн...
4848  Протечка с кровли  ремонт внутридомовых инженерных систем холодно...
5151  Протечка с кровли                       ремонт внутреннего водостока
5454  Протечка с кровли  ремонт внутридомовых инженерных систем водоотв...

In [57]:
# количество уникальныъ наименований работ в регламенте
type_work_now_df["NAME"].nunique()

184

In [62]:
# наименование работ в регламенте
work_names_var2 = type_work_now_df[["NAME"]].rename(columns={"NAME" : "work_names_var2"})
work_names_var2.head()

                                     work_names_var2
0  Ремонт общедомовых приборов учета горячего и х...
1                         Обслуживание ламп-сигналов
2  Замена и восстановление отдельных элементов си...
3  Замена и восстановление отдельных элементов си...
4  Замена и восстановление отдельных элементов си...

In [63]:
# подготовка данных для merge
data = []
for i in range(len(work_names_var2)):
    for j in range(len(work_names)):
        data.append([j, work_names_var2.iloc[i].values[0]])

In [67]:
# преобразование в DataFrame
work_names_var2 = pd.DataFrame(data, columns=["index_work_names_var1", "work_names_var2"])
work_names_var2.head()

   index_work_names_var1                                    work_names_var2
0                      0  Ремонт общедомовых приборов учета горячего и х...
1                      1  Ремонт общедомовых приборов учета горячего и х...
2                      2  Ремонт общедомовых приборов учета горячего и х...
3                      3  Ремонт общедомовых приборов учета горячего и х...
4                      4  Ремонт общедомовых приборов учета горячего и х...

In [69]:
# объединение данных
work_names = work_names_var2.merge(work_names, left_on="index_work_names_var1", right_on="index").drop(columns=["index_work_names_var1", "index"]).rename(columns={"WORK_NAME" : "work_names_var1"})
work_names.head()

,work_names_var2,work_names_var1
0,Ремонт общедомовых приборов учета горячего и х...,замена лифтового оборудования
1,Обслуживание ламп-сигналов,замена лифтового оборудования
2,Замена и восстановление отдельных элементов си...,замена лифтового оборудования
3,Замена и восстановление отдельных элементов си...,замена лифтового оборудования
4,Замена и восстановление отдельных элементов си...,замена лифтового оборудования

In [70]:
# количество уникальных значения
work_names.nunique()

work_names_var2    184
work_names_var1     19
dtype: int64

In [71]:
# сохранение данных в файл
work_names.to_csv("../data/work_names.csv", index=False)